<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
<meta http-equiv="Pragma" content="no-cache"> 
<meta http-equiv="Cache-Control" content="no-cache"> 
<meta http-equiv="Expires" content="0"> 
<title>中国矿业大学</title>
<link href="../../static/admin/css/login.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="login_box">
      <div class="login_l_img"><img src="../../static/admin/images/login-img.png" /></div>
      <div class="login">
          <div class="login_logo"><a href="#"><img src="../../static/admin/images/login_logo.png" /></a></div>
          <div class="login_name">
               <p>Login/Stu</p>
          </div>
          <form  action="/login_stu" method="post">
              <input name="username" type="text"  value="用户名" onfocus="this.value=''" onblur="if(this.value==''){this.value='用户名'}">
              <span id="password_text" onclick="this.style.display='none';document.getElementById('password').style.display='block';document.getElementById('password').focus().select();" >密码</span>
              <input name="password" type="password" id="password" style="display:none;" onblur="if(this.value==''){document.getElementById('password_text').style.display='block';this.style.display='none'};"/>
             {% if message %}
             <p style="color:red">{{ message }}</p>
             {% endif %}
              <input value="登录" style="width:100%;" type="submit">
              <a href="pwd_edit_stu" style="width:100%;" type="submit">密码修改</a>
          </form>
      </div>
      <div class="copyright">中国矿业大学 ©2018 All Rights Reserved </div>
</div>
<div style="text-align:center;">

</div>
</body>
</html>
