<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>大创项目后台管理</title>
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../static/admin/css/main.css">
	<script type="text/javascript" src="../../js/jquery-1.12.4.min.js"></script>
	
</head>
<body>
	<div  class="header">
		
		<a href="/" class="logout fr">退 出</a>
	</div>
	
	<div class="side_bar">
		<div class="user_info">
			<img src="../../static/admin/images/person.png" alt="张大山">
			<p>欢迎你 <em>{{ username }}</em></p>
		</div>

		<div class="menu_con">
			
			
			<div class="first_menu"><a href=# class="icon02">项目管理</a></div>
			<ul class="sub_menu">
				<li><a href="../admin/news_review.html" class="icon031" target="main_frame">项目审核</a></li>
				<li><a href="../admin/news_edit_detail.html" class="icon032" target="main_frame">项目版式编辑</a></li>
				
			</ul>
		</div>
	</div>

	<div class="main_body" id="main_body">
		<iframe src="news_review.html" frameborder="0" id="main_frame" name="main_frame" frameborder="0" scrolling="auto"></iframe>
	</div>
	
	<script>
		$(function(){
			$('.first_menu').click(function(){
				$(this).addClass('active').siblings('.first_menu').removeClass('active');
				$(this).next().slideDown().siblings('.sub_menu').slideUp();
			})
			var frame_w = $('#main_body').outerWidth();
			var frame_h = $('#main_body').outerHeight();
			$('#main_frame').css({'width':frame_w,'height':frame_h});
		})
	</script>

</body>
</html>